@import 'bulma/sass/utilities/derived-variables.sass';

.container {
  border-left: 1px solid $grey-light;
}

.element {
  min-width: calc(100% / 7);
  border-bottom: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
}

.caption {
  padding: 3px 0;
  height: 24px;
  text-align: center;
  font-size: 13px;
}

.content {
  height: 72px
}
